@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}
.navbar {
    background-color: #e1e6f8;
    height: 80px;
    margin: 10px 20px;
    border-radius: 28px;
    padding: 0.5rem;

}

.navbar-brand {
    font-weight: 500;
    color: #08539B;
    font-size: 22px;
    transition: 0.3s color;
}

.login-button {
    background-color: red;
    color: #ffff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover {
    background-color: #c80000;
    transition: 1.2s ease;
}

.barratoggler {
    color: #c80000;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.offcanvas-body {
    background-color:#e1e6f8;
    border-radius: 15px 15px 0 0;
}
.offcanvas-header {
    background-color: #bac1dd;
    border-radius: 0 0 15px 15px;
}

.navbar-nav {
    background-color: #e1e6f8;
    width: 100%;
}


.nav-link {
    color: #092C9A;
    font-weight: 500;
    position: relative;
}

.offcanvas-body a.nav-link.active {
    color: #d34362;
    font-weight: 900;
}
.offcanvas-body a.nav-link.active:hover {
    color: #ff1900;
    transition: 0.8 ease;
}


.nav-link:hover, .nav-link.active {
    color: #FDC52C;
    transition: 0.8s ease;
}
a.nav-link {
    color: #d34362;
    font-weight: 800;
}
a.nav-link:hover {
    color: #ff1900;
    transition: 0.5s ease;
    transform: scaleX(94%);
}

.navbar-toggler {
    background-color: #c80000;
    width: 52px;
    display: flex;
    justify-content: start;
}
.btn-close {
    background-color: #ffffff;
}

.hero-section {
    background: url(img/PROPIEDAD-PRIVADA-capital.jpg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 70vh;
}
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 23%;
    left: 0;
}
.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    color: rgb(51, 51, 51);
    font-size: 2rem;
    transition: 1.4s ease;
}
.hero-section div {
    margin: 4% 0;
    color: #4f5158;
}

.boton-section {
    width: 100px;
    height: 50px;
    margin: 8% auto;
    padding: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.boton-section {
    background-color: red;
    margin: 0 auto;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s ease;
}

a.boton-section:hover {
    background-color:#c80000;
    transition: 1.2s ease;
}

.principal {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1%;
    position:absolute;
}
.section-header {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}


.container-02 {
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
}

.card-body {
    margin: 0 auto;
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;
}

.card-footer {
    width: 50%;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.btn {
    background-color: #d34362;
    color: #ffff;
}
button.btn:hover {
    background-color: #c80000;
    color: #ffff;
    transform: scaleX(90%) scaleY(90%);
    transition: 0.9s ease;
}

footer {
    padding: 0 5%;
    width: 100%;
    background-color: #e1e6f8;
    border-radius: 20px 20px 0 0;
}
/* TIPOGRAFÍA */

:root {
    font-size: 14px;
}


h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    color: black;
}

h5 {
    color: black;
    font-size: 1.2rem;
    font-weight: 600 bold;
}

p {
    font-family:"Poppins", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
}
p.card-text {
    font-family: "Poppins", sans-serif;
    color: #b42400;
    font-size: 0.9rem;
    font-weight: 500 bold;
}
.section-header p{
    color: rgb(65, 62, 62);
    font-size: 1rem;
}













@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #ffff;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
    .hero-section h1 {
        font-size: 4.5rem;
    }
    .hero-section div {
        margin: 4% 0;
        color: #4f5158;
    }
}



